/* simple css helpers for components */
:root {
  --main-font: 'Roboto Flex', sans-serif;
  --accent-color: #8deb80;
  --black: #010101;
  --dk-grey: #1c1c1c;
  --grey: #4a4a4a;
  --lt-grey: #b0b3b8;
  --white: #e4e6eb;
}

#root {
  background-color: var(--black);
}

p {
  color: var(--white);
}

.home-btn {
  display: inline-block;
  border-radius: 80px;
  border: 0.2rem double var(--accent-color);
  font-size: 2em;
  background-color: var(--dk-grey);
  color: var(--accent-color);
  padding: 1rem;
}

.home-btn a {
  color: var(--accent-color);
  text-decoration: none;
}

/*.home-btn:hover {
  /* background-color: #282c34;
  color: aquamarine;
  border: 0.2rem double aquamarine;
}*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

#root {
  margin:auto;
  text-align: center;
  height: 100vh;
  width:100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

.avatar {
  width: 30%;
}

.avatar img {
  width: 100%;
}

/* css animation for main with menu */
#main {
  display: inline-block;
  transition: margin-left 0.5s;
  /* padding: 70px; */
  text-align: center;
  width: calc(100% - 3rem);
  height: 100vh;
  margin: 0 0 0 3rem;
}

/* text/font styles */
.title {
  font-family: Azedo;
  font-size: 10rem;
  color: aqua;
  opacity: .5;
  margin: 0 auto;
  text-align: right;
}

.subtitle {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 3rem;
  margin: 0 auto 1rem;
}

.text-block {
 text-align: center;
}